<div class="container">
  <h1><%= t(:starting_page) %></h1>
  <p><%= link_to t(:list), controller: 'users', action: 'index'%></p>
  <p><%= link_to t(:chat), controller: 'chat', action: 'index' %></p>
</div>

