<div class="container-fluid" xmlns="http://www.w3.org/1999/html" ng-app="chat">
  <div class="row">
    <div class="col-md-6">
      <h1>Users</h1>
      <ul ng-controller="TestCtrl">
        <% if @users
             @users.each do |user| %>
                <li ><a user_id=<%= user.id  %> ng-click="doStuff($event)"><%= user.name %></a></li>
            <% end %>
        <% end %>
      </ul>
    </div>
    <div class="col-md-6 col-md-pull-4">
      <h1>Chat</h1>
      <div class="message-area"></div>
      <input type="text">
    </div>
  </div>
</div>

